@import "../../css/style.scss";

.contacts {
  color: $color-white;
  text-align: center;
  background-color: $color-text;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slogan {
    max-width: 350px;
    margin: 0;
    margin-bottom: 30px;
    font-size: $fs-m;
    line-height: 1.4;

    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;

    &.scroll-item--active {
      opacity: 0.7;
    }
  }

  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 350px;

    span {
      text-align: start;
      display: inline-block;
      width: 80px;
    }

    @include breakpoint-max(xs) {
      width: auto;
    }
  }

  &__link {
    color: $color-primary;
    font-size: $fs-s;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20%);
    transition: background-color 0.5s, transform 0.5s ease 0.2s,
    opacity 0.5s 0.2s;
    padding: 0.2em 0.3em;
    @include breakpoint-max(xs) {
      font-size: $fs-xs;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:hover.scroll-show {
      background: rgba(135, 131, 120, 0.15);
      color: $color-coral;
      border-radius: 3px;
      transform: translateY(-5px);
      transition: 0.4s;

      &::before {
        color: $color-primary;
      }
    }
  }
}