@import "../../css/style.scss";

// === feedback ===
.feedback {
  height: 60vh;
  background-color: $color-text;
  overflow: hidden;
  color: white;

  &__inner {
    display: flex;
    align-items: start;
    margin-bottom: 100px;

    @include breakpoint-max(md) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    min-width: 40%;

    opacity: 0;
    transition: 1.5s;
  }

  &__list {
    @extend %list;

    flex-grow: 1;

    @include breakpoint-max(lg) {
      margin-top: 80px;
    }

    @include breakpoint-max(md) {
      margin-top: 20px;
      margin-left: 90px;
    }

    @include breakpoint-max(xs) {
      margin-left: 50px;
    }
  }

  &__item {
    position: relative;
    padding-bottom: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -70px;
      width: 3px;
      height: 50%;
      background-color: $color-primary;
      transform: translateX(-50%);

      @include breakpoint-max(xs) {
        left: -30px;
      }
    }

    &::before {
      bottom: 50%;
    }

    &::after {
      top: 50%;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }

    &:nth-child(2) .experience__card {
      transition: background-color 0.2s, transform 0.7s ease-in-out 0.5s,
      opacity 0.7s 0.5s;

      &::before,
      &::after {
        transition: opacity 0.2s 1.5s;
      }
    }

    &:nth-child(3) .experience__card {
      transition: background-color 0.2s, transform 0.7s ease-in-out 0.8s,
      opacity 0.7s 0.8s;

      &::before,
      &::after {
        transition: opacity 0.2s 1.7s;
      }
    }

    &:nth-child(4) .experience__card {
      transition: background-color 0.2s, transform 0.7s ease-in-out 1s,
      opacity 0.7s 1s;

      &::before,
      &::after {
        transition: opacity 0.2s 1.8s;
      }
    }
  }

  &__card {
    @extend %shadow;

    position: relative;
    display: block;
    padding: 30px 30px;
    color: $color-text;
    text-decoration: none;
    background-color: $color-white;
    opacity: 0;
    transition: background-color 0.2s, transform 0.7s ease-in-out 0.2s,
    opacity 0.5s 0.2s;
    transform: translateX(50%);

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-primary;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: -70px;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s 1s;

      .scroll-item--active & {
        opacity: 1;
      }

      @include breakpoint-max(xs) {
        left: -30px;
      }
    }

    &::before {
      width: 40px;
      height: 40px;
      background-color: $color-grey;
    }

    &::after {
      width: 20px;
      height: 20px;
      border: 2px solid $color-primary;
      border-radius: 50%;
    }

    &-title {
      margin-bottom: 10px;
    }

    &-date {
      margin: 0;
      margin-bottom: 20px;
      color: $color-dark-grey;
      font-size: $fs-xxs;
    }

    &-description {
      margin: 0;
    }
  }
}

// === / feedback ===