// === PLACEHOLDERS ===
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%btn {
  // позволяет задать вертик внутр отступы + ширина по содержанию
  display: inline-block;
  margin: 0;
  padding: 0;
  // включаем принудительное наследование шрифта
  font: inherit;
  // убирает подчеркивание у ссылок
  text-decoration: none;
  background-color: transparent;
  // рамка у кнопок
  border: 1px solid transparent;
  cursor: pointer;
}

%bdrs {
  border-radius: 0;
}

%shadow {
  box-shadow: 1px 1px 9px 0 rgba(209, 206, 216, 0.5);
}

// === / PLACEHOLDERS ===

// === VARIABLES ===

// Font-size
$fs-xxs: 14px;
$fs-xs: 16px;
$fs-s: 18px;
$fs-m: 24px;
$fs-l: 30px;
$fs-xl: 45px;
$fs-xxl: 56px;

// Font-weight
$fw-regular: 400;
$fw-bold: 700;

// Colors
$color-primary: #5557d7;
$color-coral: #EB5757;
// #7510f7;
// #6237ff;
// #7446af
$color-text: #272341;
$color-white: #ffffff;
$color-grey: #f7f7f7;
// #f5f5f9;
// #f8f2ff;
$color-dark-grey: #c2c2c2;

$transition: 0.3s;

// Breakpoints
$breakpoints: (
        xs: 400px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

// === / VARIABLES ===

// === MIXINS ===
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

// Breakpoints
@mixin breakpoint-min($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin breakpoint-max($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: (#{map-get($breakpoints, $breakpoint) - 1px})) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// === / MIXINS ===

html {
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  @include montserrat;

  color: $color-text;
  font-size: $fs-xs;
  font-weight: $fw-regular;
  line-height: 1.5;
  background-color: $color-white;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 150px 25px;

  &--s {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &--m {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include breakpoint-max(lg) {
    max-width: 700px;
    padding: 100px 0;
  }

  @include breakpoint-max(md) {
    max-width: 500px;
  }

  @include breakpoint-max(sm) {
    max-width: 600px;
    padding: 80px 25px;
  }

  @include breakpoint-max(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.text-color {
  color: $color-primary;

  /* background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.title {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: $fs-l;
  border-bottom: 4px solid $color-primary;
}

.subtitle {
  margin: 0;
  font-size: $fs-s;
}

.btn {
  @extend %btn;
  @extend %bdrs;

  position: relative;
  padding: 8px 16px;
  color: $color-primary;
  font-size: $fs-xs;
  line-height: 1;
  border: 2px solid $color-primary;
  font-weight: $fw-bold;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  &--big {
    font-size: $fs-m;

    @include breakpoint-max(md) {
      font-size: $fs-s;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover,
  &:focus {
    color: $color-white;
    outline: none;

    &::after {
      left: 0;
    }
  }

  /* &--color {
    background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    border-image-slice: 1;

    &::after {
      background-image: linear-gradient(135deg, #632cef, #8a4dd8);
    }

    &:hover,
    &:focus {
      -webkit-text-fill-color: $color-white;
    }
  } */
}

// === 	ANIMATION ===

@keyframes up-down {
  to {
    transform: translateY(-50%);
  }
}
// === 	/ ANIMATION ===

// === Scroll animation ===
.scroll-item--active,
.scroll-item--active .scroll-show {
  transform: translate(0, 0) scale(1) !important;
  opacity: 1 !important;
}

.scroll-item--active-portfolio {
  transform: scale(1) !important;
  opacity: 1 !important;
}

// / Scroll animation ===
